################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSA_Practices/DSA_Practices/obj
/DSA_Practices/DSA_Practices/bin/Debug/net5.0
/DSA_Practices/.vs/DSA_Practices/v16
/.vs
